.loader-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);

    .loader-container {
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;

        &.hidden {
            display: none;
        }
    }
}
