@import "../../variables.scss";

.send-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        input[type=button] {
            margin-top: 20px;
            background: $main-color-text;
            color: $main-color;
            border: 1px solid #666;
            border-radius: 6px;
            font-size: 2vmin;

            &:hover {
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
                box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
            }
        }

        label {
            position: relative;
            display: block;
            width: 50%;
            margin: auto;

            p {
                position: absolute;
                width: fit-content;
                width: -moz-max-content;
                top: 0;
            }

            input[type=email] {
                width: 100%;
                background-color: transparent !important;
                border: none;
                border-bottom: 1px solid $main-color-text;
                padding-bottom: 2%;
                caret-color: $main-color-text;
                color: $main-color-text;
                font-size: 2vmin;
            }
        }
    }

    .go-back {
        position: absolute;
        left: 4vmin;
        top: 3vmin;
    }
}
