@import "../../variables.scss";

.topbar {
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: $main-color;
    border-bottom: 2px solid #000;
}
