@import "../../variables.scss";

.main-page-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: $main-color-text;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .add-new-ticket {
        position: absolute;
        right: 5vmin;
        bottom: 5vmin;
        background-color: $second-color;
        width: 7vmin;
        height: 7vmin;
        background-size: 4vmin 4vmin;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        box-shadow: -3px 3px 10px #000;
        cursor: pointer;

        &:hover {
            background-color: $second-color-lighter
        }
    }
}
