@import "../../../variables.scss";

.user-info-container {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 22px;
    position: absolute;
    right: 2%;
    color: $main-color;
    cursor: pointer;
    background-color: $main-color-text;
    width: 120px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 3px;
}

.user-info-container .labeled-icon {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}

.user-info-container .labeled-icon .label {
    width: 85%;
    text-align: left;
    margin-left: 5px;
}
