@import "../../variables";

.prelogin {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    background-image: url(../../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-register-container {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    color: $main-color-text;
    display: flex;
    height: 60%;
    width: 50%;
    background-color: $main-color;
}

@media (orientation: portrait) {
    .login-register-container {
        flex-direction: column;
        height: 80%;
        width: 70%;
    }
}
