@import "../../variables.scss";

.user-details-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000, $alpha: 0.7);
}

.user-details-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    margin: auto;
    background: $main-color;
    border-radius: 10px;
    display: flex;

    .loader {
        position: absolute;
        top: 15%;
        right: 0;
        bottom: 0;
        left: 15%;
        margin: auto;
        width: 32%;
    }

    .close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .personal-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        align-items: center;
    }

    .users-container {
        width: 80%;
        height: 97%;
        margin: 1% 0;
        overflow-y: scroll;
    }

    .add-user-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        align-items: center;
        flex-wrap: wrap;

        .left, .right {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 5%;

            > div {
                padding: 5% 0;
            }
        }

        .add-button {
            position: absolute;
            bottom: 10%;
            right: 10%;
        }
    }

    .categories-container {
        display: flex;
        width: 80%;
        flex-direction: column;

        .tables-container {
            width: 100%;
            height: 80%;
            display: flex;

            .table-container {
                width: 50%;
                height: 100%;
                border-bottom: 1px solid #fff;
                overflow-y: scroll;
            }

            .table-container:nth-child(1) {
                border-right: 1px solid #fff;
            }
        }

        .categories-control {
            height: 20%;
            display: flex;
            position: relative;
            justify-content: space-evenly;
            align-items: center;

            > div, > button {
                margin-top: 3%;
            }

            .selected {
                position: absolute;
                top: 5px;
                margin: 0 auto;
            }

            .separator {
                height: 40%;
                border-left: 1px solid #fff;
            }
        }

        .add-button {
            font-size: 0.7vw;
            padding: 0.7vw;
        }
    }

    .companies-container {
        width: 80%;
        height: 97%;
        margin: 1% 0;
        overflow-y: scroll;
    }

    .company-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        align-items: center;
    }

    .add-company-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        align-items: center;
        flex-wrap: wrap;

        .left, .right {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 5%;

            > div {
                padding: 5% 0;
            }
        }

        .add-button {
            position: absolute;
            bottom: 10%;
            right: 10%;
        }
    }

    .user-details-menu {
        font-size: 0.9vw;
    }
}

.user-modal-container {
    background: $main-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 30%;
    max-height: 30%;
    outline: none;
    border-radius: 10px;
    display: flex;

    > div {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 85%;
        align-items: center;
        justify-content: space-evenly;
    }

    .buttons {
        position: absolute;
        margin-top: 12%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        height: 15%;
        bottom: 7%;
        right: 1%;
    }

    .close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}

.category-modal-container {
    background: $main-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 30%;
    max-height: 18%;
    outline: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .inputs {
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .buttons {
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 1px solid #fff;
    }
}

.company-modal-container {
    background: $main-color;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 35%;
    max-height: 34%;
    outline: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .inputs {
        width: 100%;
        height: 80%;
        display: flex;

        > div {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 100%;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .buttons {
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
}
