@import "../../variables.scss";

.ticket-list-container {
    position: absolute;
    top: 10vh;
    left: 16vw;
    width: 84vw;
    height: 90vh;
    box-sizing: border-box;
    background-color: $main-color-lighter;

    .ticket-list {
        border-collapse: collapse;
        width: 100%;
    }
}
