@import "../../../../variables.scss";

.toast {
    margin-top: 10px;
    padding: 5px;
    width: fit-content;
    width: -moz-max-content;
    background: $main-color-text;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

    h4 {
        margin: 1%;
    }

    span {
        padding: 0 20px;
    }

    &.success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    &.danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    &.warning {
        color: #856404;
        background-color: #fff3cd;
        border-color: #ffeeba;
    }

    &.info {
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #bee5eb;
    }

    &.none {
        opacity: 0;
    }
}
