@import "../../variables.scss";

.register-container {
    width: 50%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;

    .login-title {
        text-align: center;
        font-size: 3vmin;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 80%;

        label {
            display: flex;
            flex-direction: column;
            width: max-content;

            input[type=text], input[type=email] {
                width: 100%;
                background-color: transparent !important;
                border: none;
                border-bottom: 1px solid $main-color-text;
                padding-bottom: 2%;
                caret-color: $main-color-text;
                color: $main-color-text;
                font-size: 2vmin;

                &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
                    width: 100%;
                    -webkit-text-fill-color: $main-color-text;
                    -webkit-box-shadow: 0 0 0px 1000px rgba(0,0,0,0.8) inset;
                    box-shadow: 0 0 0px 1000px rgba(0,0,0,0.8) inset;
                    border: none;
                    border-bottom: 1px solid $main-color-text;
                    padding-bottom: 2%;
                    caret-color: $main-color-text;
                }
            }
        }

        input[type=submit] {
            margin-top: 10%;
            background: $main-color-text;
            color: $main-color;
            border: 1px solid #666;
            border-radius: 6px;
            font-size: 2vmin;

            &:hover {
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
                box-shadow: 0px 0px 10px 0 rgb(70, 65, 65);
            }
        }
    }
}

@media (orientation: portrait) {
    .register-container {
        width: 100%;
        height: 50%;
    }
}
