@import "../../variables.scss";

.search-container {
    height: 90vh;
    width: 16vw;
    position: absolute;
    top: 10vh;
    left: 0;
    box-sizing: border-box;
    background-color: $main-color-lighter;
    border-right: 2px solid #000;
    padding: 10px;

    input, label, div button, select {
        color: $main-color-text;
    }

    label {
        font-size: 0.9vw;
    }

    fieldset {
        height: 97%;
        width: 88%;

        .scrollable-container {
            height: 85%;
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-bottom: 7%;
        }

        .filter-button {
            position: absolute;
            bottom: 4%;
        }
    }
}
