.toasts-container {
    position: fixed;
    top: 0;
    right: 10vw;
    margin: auto;
    padding: 5px;
    width: fit-content;
    width: -moz-max-content;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
