@import "variables";

.app-route {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    color: $main-color-text;
    background-color: $main-color;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* For styling highlight of selected text use ::selection {
    background: transparent;
} */

* {
    scrollbar-color: #888 rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-webkit-scrollbar-corner {
    background: transparent;
}
