@import "../../variables.scss";

.new-ticket-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.new-ticket-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    margin: auto;
    background: $main-color;
    border-radius: 10px;
    display: flex;

    .close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .new-ticket-main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        align-items: center;

        .inputs {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;

            .left, .right {
                display: flex;
                width: 50%;
                height: 100%;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }

    .new-ticket-description {
        width: 85%;
        height: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .new-ticket-menu {
        font-size: 0.9vw;
    }
}
