@import "../../variables.scss";

.ticket-details-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.ticket-details-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    margin: auto;
    background: $main-color;
    border-radius: 10px;
    display: flex;

    .close-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1vmin;
        right: 1vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .edit-button {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 1vmin;
        right: 6vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .ticket-info {
        width: 85%;
        display: flex;
        flex-direction: column;

        .ticket-info-details {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 85%;
        }

        .ticket-info-actions {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 15%;
            box-sizing: border-box;
            border-top: 1px solid $main-color-text;
        }
    }

    .description-container {
        padding: 10px;
        width: 78%;
        height: 100%;
        overflow: hidden;
    }

    .messages-container {
        position: relative;
        top: 10%;
        width: 85%;
        height: 90%;
        display: flex;
        flex-direction: column;

        .messages {
            width: 100%;
            height: 90%;
            border-bottom: 1px solid $main-color-text;
            box-sizing: border-box;
            padding: 15px;
            overflow: scroll;
        }

        .new-message-container {
            display: flex;
            justify-content: center;

            div {
                width: 95%;
            }
        }
    }
}
